<footer class="text-muted mt-5 pb-3 pt-2">
    <div class="container mt-3">
        <div class="container">
            <div class="row">
              <div class="col-sm">
              <h5>  WHAT'S IN STORE </h5>
     <ul class="mt-2">
        <li class="item">
          <a class="foot-link" href="#" data-component="men">MEN</a>
        </li>
        <li class="item">
          <a class="foot-link" href="#" data-component="women">WOMEN</a>
        </li>
        <li class="item">
          <a class="foot-link" href="#" data-component="kids">KIDS</a>
        </li>
     </ul>
        </div>
              <div class="col-sm">
                 <h5 class="pl-5">COMPANY INFO</h5> 
                  <ul class="mt-2">
                    <li class="item">
                      <a class="foot-link" href="#" data-component="terms">TERMS AND CONDITIONS</a>
                    </li>
                    <li class="item pt-2" >
                      <a class="foot-link" href="#" data-component="privacy">PRIVACY POLICY</a>
                    </li>               
                 </ul>
              </div>
              <div class="col-sm">
             <h5> WE ACCEPT </h5>
              <div class="mt-2">
                <img src="../images/cards.jpg">
              </div>
              </div>
            </div>
          </div>
        

    </div>
  </footer>

  <link rel="stylesheet" href="../css/footer.css">
  <script src="../js/footer.js"></script>