<div class="container">
   <div class="imgBox"></div>
   <div class="container"></div>
   <div class="category-container mt-5">
    <h1>CATAGORIES</h1>
    <div class="container mt-5">
        <div class="row">
          <div class="col-sm img-with-text">
            <img src="../images/men_shoes.jpg" height="300px" width="300px">
            <label style="color: black;">MEN</label>
          </div>
          <div class="col-sm img-with-text">
            <img src="../images/women_shoes.jpg" height="300px" width="300px">
            <label style="color: black;">WOMEN</label>
          </div>
          <div class="col-sm img-with-text">
            <img src="../images/kids_shoes.jpg" height="300px" width="300px">
            <label style="color: black;">KIDS</label>
          </div>
        </div>
      </div>
   </div>
   <div class="brands">
      <h1>AWESOME BRANDS</h1>
      <div class="brand-container mt-5">
        <div class="row">
            <div class="col-sm">
              <img src="../images/adidas.png">
            </div>
            <div class="col-sm">
                <img src="../images/nike.jpeg">
            </div>
            <div class="col-sm">
                <img src="../images/puma.png">
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <img src="../images/skechers.png">
            </div>
            <div class="col-sm">
                <img src="../images/fila.png">
            </div>
            <div class="col-sm">
                <img src="../images/nb.png">
            </div>
          </div>
      </div>
    
   </div>
</div>

<link rel="stylesheet" href="../css/home.css">
