<div class="container">

    <div class="d-flex flex-wrap justify-content-center ">

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/KIDS_SHOE_1.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">BATA White School Shoes</h5>
                  <h5 class="card-title">Rs. 299</h5>
                 
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/KIDS_SHOE_2.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BATA White Ballerinas </h5>
                    <h5 class="card-title">Rs. 350</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/KIDS_SHOE_3.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BATA Black Formal Shoes</h5>
                    <h5 class="card-title">Rs. 1,499</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/KIDS_SHOE-4.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BATA Blue School Shoes</h5>
                    <h5 class="card-title">Rs. 499</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/KIDS_SHOE_5.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DISNEY Red Sandals</h5>
                    <h5 class="card-title">Rs. 499</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/KIDS_SHOE_6.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DISNEY Silver Sandals </h5>
                    <h5 class="card-title">Rs. 599</h5>
                </div>
              </div>
        </div>

    


    </div>  
   
</div>

<link rel="stylesheet" href="../css/men.css">