<div class="container">

    <div class="d-flex flex-wrap justify-content-center ">

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/men_shoe_1.jpg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ruosh Tan Casual Loafers</h5>
                  <h5 class="card-title">Rs. 5,490</h5>
                 
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/men_shoe_2.jpg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ID Blue Casual Loafers</h5>
                    <h5 class="card-title">Rs. 2,485</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/men_shoe_3.jpg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mochi Black Sneakers</h5>
                    <h5 class="card-title">Rs. 2,994</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/men_shoe_4.jpg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ruosh Black Formal Derby</h5>
                    <h5 class="card-title">Rs. 4,990</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/men_shoe_5.jpg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mochi Black Sneakers</h5>
                    <h5 class="card-title">Rs. 3,493</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/men_shoe_6.jpg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mochi Black Sneakers</h5>
                    <h5 class="card-title">Rs. 2,394</h5>
                </div>
              </div>
        </div>

    


    </div>  
   
</div>

<link rel="stylesheet" href="../css/men.css">