<div class="container">

    <div class="d-flex flex-wrap justify-content-center ">

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/women_shoe_1.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">POWER Purple Casual Shoes </h5>
                  <h5 class="card-title">Rs. 3,999</h5>
                 
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/women_shoe_2.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NORTH STAR Gold Sneakers</h5>
                    <h5 class="card-title">Rs. 1,299</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/women_shoe_3.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NORTH STAR Blue Sneakers</h5>
                    <h5 class="card-title">Rs. 1,499</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/women_shoe_4.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NORTH STAR Black Ballerinas</h5>
                    <h5 class="card-title">Rs. 699</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/women_shoe_5.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HUSH PUPPIES Black Casual Shoes</h5>
                    <h5 class="card-title">Rs. 2,499</h5>
                </div>
              </div>
        </div>

        <div class="p-2">
            <div class="card" style="width: 18rem;">
                <img src="../images/women_shoe_6.jpeg" height="286px" width="180px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NEUTRALIZER Blue Casual Shoes</h5>
                    <h5 class="card-title">Rs. 5,499</h5>
                </div>
              </div>
        </div>

    


    </div>  
   
</div>

<link rel="stylesheet" href="../css/men.css">